body{
	background-color: #e0e5e4;
}
h1 , p{
	font-style:bold;
	font-family:"Times New Roman", "Times", "serif";
	text-indent:20px;
}	
#menu{
	width:auto;
	background-color:#928489;
	color:black;
	border-style:none;
	border-color:black;
	margin:20px;
	padding:20px;
	text-align:auto;
	float:top;	
	height:auto;
	text-align:auto;
}
li{
	display:inline;
	margin-left:20px;
}
a{
	color:#098764;
	text-decoration:none;
}
a:hover{
	color:#934392;
}
#Terug{
	width:10%;
	background-color:#928489;
	color:yellow;
	border-style:none;
	border-radius:10px;
	margin-right:auto;
	margin-left:auto;
	padding:auto;
	text-align:auto;
	float:auto;	
}
@font-face{
	font-family:fs4;
	src: url(fs4.ttf)
}
.headtext{
	font-size:40px;
	font-family:fs4;
}
#logo{
	width:auto;
	background-color:#928489;
	color:black;
	border-style: none;
	border-color:black;
	margin:20px;
	padding:20px;
	text-align:auto;
	float:top;	
}